@(list:List[User])(implicit msg:Messages)

@views.html.main("assignment"){
<div class="container">
    <div class="jumbotron">

        <table class="table table-hover">
            <thead><tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Award</th>
                <th>Assignment</th>
                <th>Language</th>
                <th>Programming Language</th>
            </tr></thead>
            <tbody>
            @for(li<-list){
            <tr>
                <td>@li.id</td>
                <td>@li.name</td>
                <td>@li.email</td>

            </tr>
            }
            </tbody>
        </table>
    </div>

</div>
}